# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/
langgraph_env/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE configs
.vscode/
.idea/

# Environment variables
.env