langgraph
langchain
langchain-openai
langchain-core
langchain-community
langchain-groq
dotenv
streamlit
wikipedia
arxiv
langgraph-checkpoint-sqlite
langgraph-cli[inmem]
faiss-cpu
duckduckgo-search
ddgs